.center-login {
	width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (max-width: 1495px){
  .center-login {
	width: 75%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
}

.homepage-icons{
	background-color: darkgray;
    width: auto;
    height: 20%;
    padding: 20px;
    border-radius: 15px;
    margin-left: 40px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px){
  .homepage-icons{
	background-color: darkgray;
    width: auto;
    height: 20%;
    padding: 20px;
    border-radius: 15px;
	margin-left: 0px; 
    margin-bottom: 30px;
}
}
.center{
	padding-top: 10%;

}
@media only screen and (max-width: 1024px) {
  .center{
	
    padding-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    display: inline-flex;
    width: auto;
    height: auto;
}
}
.brand-image{
width: 100px;
height: auto;
}

@media only screen and (max-width:768px) {
.header{
	width:108%;
}
}

.wrapper{
	text-align:center;
}
#pic1{
	 background-image: url("resources/images/manageusers.png");
}
#pic2{
	 background-image: url("resources/images/icons8-exam-50.png");
}
#pic3{
	 background-image: url("resources/images/settings.png");
}